@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@liveblocks/react-ui/styles.css";
@import "@liveblocks/react-lexical/styles.css";
@import "@liveblocks/react-ui/styles/dark/attributes.css";
@import "@liveblocks/react-ui/styles/dark/media-query.css";
@import "@/styles/editor/index.css";
@import "@/styles/liveblocks/index.css";


body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  ::-webkit-scrollbar {
    @apply w-1 h-[3px] rounded-[50px];
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-[#bbbbbb] dark:bg-[#444444] rounded-[50px];
  }

  ::-webkit-scrollbar-track {
    @apply bg-[#f5f5f5] dark:bg-[#09090a];
  }

  body {
    @apply bg-white text-[#1e1e1e] dark:bg-[#111111] dark:text-white;
  }

  ul {
    list-style: disc;
    list-style-type: disc;
  }

  ol {
    list-style: decimal;
    list-style-type: decimal;
  }
}

@layer utilities {
  .hover-shadow {
    @apply transition-all duration-300 ease-in-out hover:shadow-md dark:hover:shadow-md-dark;
  }

  .toolbar-wrapper {
    @apply z-50 w-screen overflow-x-auto overflow-y-hidden border-y border-[#d1d1d1] dark:border-[#2A2A2A] bg-[#F5F5F5] dark:bg-[#000000] px-2 md:px-4 shadow-md;
  }

  .editor-wrapper {
    @apply h-[calc(100vh-114px)];
  }

  .gradient-darkgray {
    background: linear-gradient(to top, #222222, #1c1c1c) !important;
  }

  .document-title-input {
    @apply min-w-[78px] flex-1 border-none bg-transparent px-0 text-left text-base font-semibold leading-[24px] focus-visible:ring-0 focus-visible:ring-offset-0 disabled:text-black sm:text-xl md:text-center !important;
  }

  .toolbar button.toolbar-button {
    @apply flex items-center bg-transparent rounded p-2 border-none hover:enabled:bg-[#eeeeee] dark:hover:enabled:bg-[#3b3b3b] cursor-pointer;
  }

  .toolbar button.toolbar-item.active {
    @apply bg-[#eeeeee] dark:bg-[#3b3b3b];
  }

  .toolbar button.toolbar-item:disabled {
    cursor: not-allowed;
  }

  .toolbar button.toolbar-item:disabled svg {
    opacity: 0.2;
  }

  .format.icon {
    @apply size-[18px] text-[#1e1e1e] dark:text-white;
  }
}

/* ------------ Clerk Override ------------- */
.cl-internal-piyvrh,
.cl-internal-16vtwdp,
.cl-internal-lk7758,
.cl-internal-13u79ez {
  display: none;
}

.cl-internal-w4f4gh,
.cl-internal-19lj6gi {
  background: none;
}

.cl-internal-wf8x4b {
  line-height: unset;
}

.cl-avatarBox {
  width: 36px;
  height: 36px;
  border: 2px solid #2196f3;
}