.cl-internal-piyvrh,
.cl-internal-16vtwdp,
.cl-internal-lk7758,
.cl-internal-13u79ez {
  display: none;
}

.cl-internal-w4f4gh,
.cl-internal-19lj6gi {
  background: none;
}

.cl-internal-wf8x4b,
.cl-internal-1xpngvq {
  line-height: unset;
}

.cl-avatarBox {
  width: 36px;
  height: 36px;
  border: 2px solid #2196f3;
}

html.dark .cl-internal-13lvar6 {
  background: #151515;
}

html.dark .cl-internal-pp7u0o {
  color: rgb(188, 188, 207);
}

html.dark .cl-internal-168uxhv,
html.dark .cl-internal-zpbffa {
  color: #9a9ba2;
}

html.dark .cl-internal-c2xpfh {
  background-color: #292929;
  @apply shadow-lg-dark;
}

html.dark .cl-internal-q7chm5 {
  background-color: #333;
  color: #bbbbbb;
}

html.dark .cl-internal-1j5cao4,
html.dark .cl-internal-1u67iw4,
html.dark .cl-internal-10dnmwk,
html.dark .cl-internal-ajnh64,
html.dark .cl-internal-1940az2 {
  color: #bbbbbb;
}

html.dark .cl-internal-190cjq9,
html.dark .cl-internal-1y71s3o,
html.dark .cl-internal-1yzyqwe,
html.dark .cl-internal-1pz8pdy,
html.dark .cl-internal-1s0h3cl,
html.dark .cl-internal-13p2l65,
html.dark .cl-internal-rvg68x {
  color: #eeeeee;
}

html.dark .cl-internal-1v9xsvw,
html.dark .cl-internal-23zfou {
  color: #8f92a4;
}

html.dark .cl-internal-6lplep {
  background-color: #222222;
  @apply shadow-md-dark;
}

html.dark .cl-internal-vox37u {
  color: #fff;
}

html.dark .cl-internal-1u67iw4:hover,
html.dark .cl-internal-vox37u:hover,
html.dark .cl-internal-10dnmwk:hover,
html.dark .cl-internal-ajnh64:hover {
  background-color: #393939;
  @apply shadow-sm-dark;
}

html.dark .cl-internal-1mdgqw8,
html.dark .cl-internal-1q1j6io {
  border-color: #444444;
}

html.dark .cl-internal-1e217up,
html.dark .cl-internal-18n5pfw {
  background-color: #393939;
  @apply shadow-md-dark;
}

html.dark .cl-internal-1940az2 {
  @apply shadow-sm-dark;
}

html.dark .cl-internal-1are3ma:hover,
html.dark .cl-internal-156ribv:hover {
  background-color: #ef444427;
}

html.dark .cl-internal-1lerq0t {
  background-color: #bbbbbb;
  @apply rounded-full;
}

html.dark .cl-internal-zpbffa {
  border-color: #adadad;
}
