/* LEXICAL EDITOR STYLES */
html.dark .editor-code {
  background-color: #121212;
  font-family: Menlo, Consolas, Monaco, monospace;
  display: block;
  padding: 8px 8px 8px 52px;
  line-height: 1.53;
  font-size: 13px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  tab-size: 2;
  /* white-space: pre; */
  overflow-x: auto;
  position: relative;
}

html.dark .editor-code:before {
  content: attr(data-gutter);
  position: absolute;
  background-color: #121212;
  left: 0;
  top: 0;
  border-right: 1px solid #555555;
  padding: 8px;
  color: #888888;
  white-space: pre-wrap;
  text-align: right;
  min-width: 25px;
}

html.dark .editor-code:after {
  content: attr(data-highlight-language);
  top: 0;
  right: 3px;
  padding: 3px;
  font-size: 10px;
  text-transform: uppercase;
  position: absolute;
  color: #777;
}