/* LEXICAL EDITOR STYLES */
html.dark .editor-code {
  background-color: #121212;
}

html.dark .editor-code:before {
  background-color: #121212;
  border-right: 1px solid #555555;
  color: #888888;
}

html.dark .editor-code:after {
  color: #777;
}
