@import "@/styles/editor/dark-theme.css";
@import "@/styles/editor/light-theme.css";

body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    ".SFNSText-Regular",
    sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* --------------  EDITOR ---------------*/
.editor-input {
  min-height: 400px;
  resize: none;
  tab-size: 1;
  outline: 0;
}

.editor-placeholder {
  pointer-events: none;
}

.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.editor-textBold {
  font-weight: bold;
}

.editor-textItalic {
  font-style: italic;
}

.editor-textUnderline {
  text-decoration: underline;
}

.editor-textStrikethrough {
  text-decoration: line-through;
}

.editor-textUnderlineStrikethrough {
  text-decoration: underline line-through;
}

.editor-textCode {
  background-color: rgb(240, 242, 245);
  padding: 1px 0.25rem;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 94%;
}

.editor-link {
  color: rgb(33, 111, 219);
  text-decoration: none;
}

.tree-view-output {
  display: block;
  background: #222;
  color: #fff;
  padding: 5px;
  font-size: 12px;
  white-space: pre-wrap;
  margin: 1px auto 10px auto;
  max-height: 250px;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: auto;
  line-height: 14px;
}

.editor-tokenComment {
  color: slategray;
}

.editor-tokenPunctuation {
  color: #999;
}

.editor-tokenProperty {
  color: #905;
}

.editor-tokenSelector {
  color: #690;
}

.editor-tokenOperator {
  color: #9a6e3a;
}

.editor-tokenAttr {
  color: #07a;
}

.editor-tokenVariable {
  color: #e90;
}

.editor-tokenFunction {
  color: #dd4a68;
}

.editor-paragraph {
  margin: 0;
  margin-bottom: 8px;
  position: relative;
}

.editor-paragraph:last-child {
  margin-bottom: 0;
}

.editor-heading-h1 {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  line-height: 36px;
}

.editor-heading-h2 {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  line-height: 27px;
}

.editor-heading-h3 {
  font-size: 1.25rem;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  line-height: 22px;
}

.editor-quote {
  margin: 0 0 10px 20px;
  font-size: 15px;
  color: rgb(101, 103, 107);
  border-left-color: rgb(206, 208, 212);
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 16px;
}

.editor-list-ol {
  padding: 0;
  margin: 0;
}

.editor-list-ul {
  padding: 0;
  margin: 0;
}

.editor-listItem {
  margin: 8px 32px 8px 32px;
}

.editor-nestedListItem {
  list-style-type: none;
}

.editor-listItemChecked,
.editor-listItemUnchecked {
  position: relative;
  margin-left: 8px !important;
  margin-right: 8px !important;
  padding-left: 24px;
  padding-right: 24px;
  list-style-type: none;
  outline: none;
}

.editor-listItemChecked {
  text-decoration: line-through;
}

.editor-listItemUnchecked:before,
.editor-listItemChecked:before {
  content: "";
  width: 17px;
  height: 17px;
  top: 2px;
  left: 0;
  cursor: pointer;
  display: block;
  background-size: cover;
  position: absolute;
}

.editor-listItemUnchecked[dir="rtl"]:before,
.editor-listItemChecked[dir="rtl"]:before {
  left: auto;
  right: 0;
}

.editor-listItemUnchecked:focus:before,
.editor-listItemChecked:focus:before {
  box-shadow: 0 0 0 2px #a6cdfe;
  border-radius: 2px;
}

.editor-listItemUnchecked:before {
  border: 1px solid #999;
  border-radius: 2px;
}

.editor-listItemChecked:before {
  border: 1px solid rgb(61, 135, 245);
  border-radius: 2px;
  background-color: #3d87f5;
  background-repeat: no-repeat;
}

.editor-listItemChecked:after {
  content: "";
  cursor: pointer;
  border-color: #fff;
  border-style: solid;
  position: absolute;
  display: block;
  top: 5px;
  width: 5px;
  left: 6px;
  right: 7px;
  height: 9px;
  transform: rotate(45deg);
  border-width: 0 2px 2px 0;
}

pre::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

pre::-webkit-scrollbar-thumb {
  background: #999;
}

.debug-timetravel-panel {
  overflow: hidden;
  padding: 0 0 10px 0;
  margin: auto;
  display: flex;
}

.debug-timetravel-panel-slider {
  padding: 0;
  flex: 8;
}

.debug-timetravel-panel-button {
  padding: 0;
  border: 0;
  background: none;
  flex: 1;
  color: #fff;
  font-size: 12px;
}

.debug-timetravel-panel-button:hover {
  text-decoration: underline;
}

.debug-timetravel-button {
  border: 0;
  padding: 0;
  font-size: 12px;
  top: 10px;
  right: 15px;
  position: absolute;
  background: none;
  color: #fff;
}

.debug-timetravel-button:hover {
  text-decoration: underline;
}
