/* LEXICAL EDITOR STYLES */
html.light .editor-code {
  background-color: #f0f2f5;
}

html.light .editor-code:before {
  background-color: #eee;
  border-right: 1px solid #ccc;
  color: #777;
}

html.light .editor-code:after {
  color: rgba(0, 0, 0, 0.5);
}
